.container{
  width:1300px;
  margin: auto;
}
main{
  display: inline-block;
  background-color: blue;
  width: 850px;
  height: auto;
  float: left;
}

header{
  background-color: navy;
  height: 100px;
  padding-top: 30px;
  text-align: center;
}
aside{
  width: 450px;
  display: inline-block;
  background-color: beige;
  float: right;
}
footer{
  clear: both;
  background-color: orange;
  height: auto;
}

footer h4{
  text-align: center;
  padding-top: 30px;
}
/* less than 800 with make aside dissapear
this will cover ipads 1,2 ,3 ,4*/

@media only screen and (max-width: 800px){

aside{
  display: none;
}
main{
  width: 100%;
  display: block;
  font-size: 1.6em;
}

}
